.footer{
    border-top: 1px solid rgba(177, 177, 177, 0.61);
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 15px 0px;
    color: rgb(172, 172, 172);
    font-size: 12px;
}